# Terraform state
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# Terraform directories
.terraform/
.terraform.lock.hcl

# Terraform vars with secrets
*.auto.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash logs
crash.log
crash.*.log

# OPA
*.bundle

# Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store
